key_bind root space "insert_string --str ' '"
key_bind root ! "insert_string --str '!'"
key_bind root double-quote "insert_string --str '"'"
key_bind root # "insert_string --str '#'"
key_bind root '$' "insert_string --str '$'"
key_bind root % "insert_string --str '%'"
key_bind root & "insert_string --str '&'"
key_bind root single-quote 'insert_string --str "\'"'
key_bind root ( "insert_string --str '('"
key_bind root ) "insert_string --str ')'"
key_bind root * "insert_string --str '*'"
key_bind root + "insert_string --str '+'"
key_bind root , "insert_string --str ','"
key_bind root - "insert_string --str '-'"
key_bind root . "insert_string --str '.'"
key_bind root / "insert_string --str '/'"
key_bind root 0 "insert_string --str '0'"
key_bind root 1 "insert_string --str '1'"
key_bind root 2 "insert_string --str '2'"
key_bind root 3 "insert_string --str '3'"
key_bind root 4 "insert_string --str '4'"
key_bind root 5 "insert_string --str '5'"
key_bind root 6 "insert_string --str '6'"
key_bind root 7 "insert_string --str '7'"
key_bind root 8 "insert_string --str '8'"
key_bind root 9 "insert_string --str '9'"
key_bind root : "insert_string --str ':'"
key_bind root ; "insert_string --str ';'"
key_bind root < "insert_string --str '<'"
key_bind root = "insert_string --str '='"
key_bind root > "insert_string --str '>'"
key_bind root ? "insert_string --str '?'"
key_bind root @ "insert_string --str '@'"
key_bind root A "insert_string --str 'A'"
key_bind root B "insert_string --str 'B'"
key_bind root C "insert_string --str 'C'"
key_bind root D "insert_string --str 'D'"
key_bind root E "insert_string --str 'E'"
key_bind root F "insert_string --str 'F'"
key_bind root G "insert_string --str 'G'"
key_bind root H "insert_string --str 'H'"
key_bind root I "insert_string --str 'I'"
key_bind root J "insert_string --str 'J'"
key_bind root K "insert_string --str 'K'"
key_bind root L "insert_string --str 'L'"
key_bind root M "insert_string --str 'M'"
key_bind root N "insert_string --str 'N'"
key_bind root O "insert_string --str 'O'"
key_bind root P "insert_string --str 'P'"
key_bind root Q "insert_string --str 'Q'"
key_bind root R "insert_string --str 'R'"
key_bind root S "insert_string --str 'S'"
key_bind root T "insert_string --str 'T'"
key_bind root U "insert_string --str 'U'"
key_bind root V "insert_string --str 'V'"
key_bind root W "insert_string --str 'W'"
key_bind root X "insert_string --str 'X'"
key_bind root Y "insert_string --str 'Y'"
key_bind root Z "insert_string --str 'Z'"
key_bind root [ "insert_string --str '['"
key_bind root \\ "insert_string --str '\\'"
key_bind root ] "insert_string --str ']'"
key_bind root ^ "insert_string --str '^'"
key_bind root _ "insert_string --str '_'"
key_bind root ` "insert_string --str '`'"
key_bind root a "insert_string --str 'a'"
key_bind root b "insert_string --str 'b'"
key_bind root c "insert_string --str 'c'"
key_bind root d "insert_string --str 'd'"
key_bind root e "insert_string --str 'e'"
key_bind root f "insert_string --str 'f'"
key_bind root g "insert_string --str 'g'"
key_bind root h "insert_string --str 'h'"
key_bind root i "insert_string --str 'i'"
key_bind root j "insert_string --str 'j'"
key_bind root k "insert_string --str 'k'"
key_bind root l "insert_string --str 'l'"
key_bind root m "insert_string --str 'm'"
key_bind root n "insert_string --str 'n'"
key_bind root o "insert_string --str 'o'"
key_bind root p "insert_string --str 'p'"
key_bind root q "insert_string --str 'q'"
key_bind root r "insert_string --str 'r'"
key_bind root s "insert_string --str 's'"
key_bind root t "insert_string --str 't'"
key_bind root u "insert_string --str 'u'"
key_bind root v "insert_string --str 'v'"
key_bind root w "insert_string --str 'w'"
key_bind root x "insert_string --str 'x'"
key_bind root y "insert_string --str 'y'"
key_bind root z "insert_string --str 'z'"
key_bind root { "insert_string --str '{'"
key_bind root | "insert_string --str '|'"
key_bind root } "insert_string --str '}'"
key_bind root ~ "insert_string --str '~'"
key_bind root enter "insert_line_break"
key_bind root delete "delete_char_after"
key_bind root backspace "delete_char_before"
key_bind root tab "insert_tab"
key_bind root up "cursor_move_line -1"
key_bind root down "cursor_move_line 1"
key_bind root left "cursor_move_offset -1"
key_bind root right "cursor_move_offset 1"
key_bind root home "cursor_set $cur_line_num 0"
key_bind root end "cursor_set $cur_line_num $cur_line_length"
